.internados2{
    background-color: rgb(94, 23, 23);
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 30px 30px 0;
    align-items: center;
    font-family:Tilt Warp;
    font-weight: 100;
    color: white;
}

.internado2_titulo{
    margin-left:1%;
}

.internados2_dado{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
    color:rgb(94, 23, 23);
}