.suspeitos{
    background-color:purple;
    width: 650px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 30px 30px 0;
    align-items: center;
    font-family:Tilt Warp;
    font-weight: 100;
    color: white;
}

.suspeitos_titulo{
    margin-left:1%;
}

.suspeitos_dado{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
    color:purple;
}