body{
    background-color: #A9A9A9;
    background-size: cover;
    justify-content: center;
    display: flex;
}
#numeros{
    font-size: 30px;
    width: 45%;
}
#sinal{
    font-size: 30px;
    width: 45%;
}
#boxResultado{
    font-size: 30px;
    width: 10%;
}
